extends layout

block content
  h1 Task List
  form(action="/add-task" method="POST")
    input(type="text" name="name" placeholder="Task name" required)
    input(type="text" name="description" placeholder="Task description" required)
    button(type="submit") Add Task
  div
    ul
      each task in tasks
        if task.photo
          img(src=task.photo, alt="Task photo", width="100")
        strong #{task.name}: 
        br
        |  #{task.description}
        br 
        br
